
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Caveat&family=Cinzel&family=Domine&family=Inter&family=Open+Sans:wght@300&family=Orbitron&family=Unbounded:wght@300&family=VT323&family=Zen+Tokyo+Zoo&display=swap');
/* 
font-family: 'Carrois Gothic', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Cinzel', serif;
font-family: 'Domine', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Unbounded', cursive;
font-family: 'VT323', monospace;
font-family: 'Zen Tokyo Zoo', cursive; */

*{
    /* border: 1px solid red; */
    color: black;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: beige;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#container{

    /* border: 1px solid red; */

    width: 600px;
    /* min-width: 600px; */

    
}

#header{
    height: 5vh;
    width: 100%;
}

#top{
    height: 20vh;
    width: 100%;

    border: 1px solid black; 
    border-radius: 7px; 
    padding: 5px;

    display: flex;
    flex-direction: row;

    
}

#middle{    
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

#bottom{

    height: 10vh;
    width: 100%;


}

footer{
    width: 100%;
    height: 10vh;
    background-color: lightgrey;
    text-align: center;

}

h1{

    width: 100%;
    text-align: center;

}

.top-card{
    width: 50%;
    border: 1px solid black;
    padding: 5px;
}

#games-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#btn-refresh{
    height: 50px;
    width: 50px;
    margin-left: 15px;
    background-image: url("/images/refresh.png");
}
#btn-refresh:active {
    transform: scale(0.98);
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.05);
}

#active-games{
    height: 65%;
    /* list-style-type: none; */
    overflow-x: hidden;
    overflow-y: scroll;
    /* width: 100%; */


}

#game-board{

    height: 500px;
    width: 500px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:  center;
    justify-content: space-around;

}

.game-square{
    height: 160px;
    width: 160px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;    
}
#buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#btn-back{
    height: 50px;
    width: 150px;
    background-color: rgb(200, 115, 115);
}
#btn-submit{
    height: 50px;
    width: 150px;
    background-color: rgb(115, 200, 115);
}

#game-info{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}







#active-games::-webkit-scrollbar {
    width: 0.5em;
}
 
#active-games::-webkit-scrollbar-track {
    -webkit-box:  0 0 6px rgba(0,0,0,1);
}
 
#active-games::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}